@use 'assets/var' as *;

.nuxt-icon {
  svg {
    margin-bottom: 0;
    vertical-align: middle;
  }
}

.align-end {
  align-items: flex-end;
}

.mt-2 {
  margin-top: 8px !important;
}

.mt-4 {
  margin-top: 16px !important;
}

.mt-8 {
  margin-top: 32px !important;
}

.mb-2 {
  margin-bottom: 8px !important;
}

.mb-4 {
  margin-bottom: 16px !important;
}

.mb-8 {
  margin-bottom: 32px !important;
}

.adv__icon {
  color: $accent !important;
}

.call-buttons__icon {
  color: $accent;
  svg {
    display: block;
    height: 20px !important;
    width: auto !important;
  }
}

.adv__icon svg {
  @media screen and (max-width: 760px) {
    height: 40px !important;
  }

  height: 50px !important;
  width: auto !important;
}


.nav__icon{
  svg {
    height: 25px !important;
    width: auto !important;
    margin-right: 12px;
    color: $accent;
  }
}


.banner__arrow svg {
  height: 20px !important;
  width: auto !important;
}
.title {
  color: $accent;
  font-size: 30px;
  font-weight: 700;
}


.subtitle {
  font-size: 20px;
  font-weight: 400;
  @media screen and (max-width: 760px) {
    font-size: 16px !important;
  }
}

.card {
  padding: 16px;
  background: $bg-card;
  border-radius: 4px;
  max-width: 350px;
}

.full-screen-card {
  padding: $margin-block-end 0;
  background: $bg-card;
}

.v-breadcrumbs {
  padding: 16px 0 !important;
}

.v-breadcrumbs-item--link {
  @media screen and (max-width: 700px){
    font-size: 14px;
  }
}

.grid {
  display: grid;
  @media screen and (max-width: 350px) {
    grid-template-columns: 1fr;
  }
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 24px;
}

.wrapper, .v-toolbar__content{
  max-width: 1150px;
  width: 100%;
  margin: 0 auto;
}

.wrapper {
  padding: 0 16px;
}


html {
  scroll-behavior: smooth;
}

*,
html,
body {
  -webkit-font-smoothing: antialiased !important;
}

.tiptap {
  margin-top: 24px;
  padding: 8px;
}

.server-html, .tiptap {

  h1 {
    color: $accent;
    margin-bottom: 16px;
  }
  p {
    margin-bottom: 8px;
  }

  strong {
    color: $accent;
    margin-right: 4px;
  }
  ul {

    margin: 0 0 16px 16px;
  }
  li {
    margin-bottom: 8px;
  }
}

.v-timeline-item__body {
  align-self: flex-start !important;
}

.margin-block-end {
    margin-top: 40px;
}