@use 'assets/var' as *;



.service {
	&__columns {
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: 48px;
	}

	&__img {
		height: 400px;
		border-radius: 7px;
	}

	&__bonus {
		margin-top: 48px;
	}

	&__review {
		margin-top: 44px;
		//text-align: center;
	}

	&__subtitle {
		font-size: 20px;
		font-weight: 700;
	}

	&__slider {
		height: 500px;
		margin-top: 24px;
		@media screen and (max-width: 800px) {
			height: 300px;
		}
	}


	&__content, &__gallery {
		margin-top: 32px;
	}

	&__title {
		font-size: 32px;
		font-weight: 500;

		&_white {
			color: #fff;
		}

		span {
			color: $accent;
		}


	}

	&__text {
		margin-top: 16px;
		margin-bottom: 16px
	}

	&__grid {
		gap: 24px;
		margin-top: 24px;
	}
}
@media screen and (max-width: 760px ){
	.service__title {
		font-size: 24px;
	}

	.service__text, .service__subtitle {
		font-size: 16px;
	}

	.service__columns {
		grid-template-columns: 1fr;
		gap: 24px;
	}

	.service__img {
		height: 250px;
		margin-top: 0;
	}
}
strong {
	color: $accent
}

.banner {
	&__btn {
		margin-bottom: 12px;
	}

	&__breadcrump {
		margin-top: 100px;
	}

	&__body {
		height: 100%;
		width: 100%;
		display: flex;
		align-items: center;
	}

	&__title {
		//color: $accent;
		font-size: 50px;
		font-weight: 600;
		line-height: 1.2;
		margin-bottom: 16px;
		max-width: 730px;
	}

	&__price {
		font-size: 30px;
		font-weight: 500;
		color: $accent;
	}

	&__time {
		font-weight: 500;
		margin-bottom: 16px;
	}

	&__text {
		color: #FFF;
		font-size: 20px;
		font-weight: 400;
		margin-bottom: 16px;
		max-width: 500px;
	}

	&__subtitle {
		font-size: 24px;
		font-weight: 600;
		margin-bottom: -8px;
	}

	&__description {
		color: #B4B4B4;
		font-size: 12px;
		font-weight: 400;
		margin-top: 10px;
	}

	&__bottom {
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		display: flex;
		justify-content: center;
	}

	&__arrow {
		svg {
			height: 20px !important;
			width: auto;
		}

		transition: all .2s ease-in;
		margin-bottom: 30px;
	}

	@media screen and (max-width: 760px) {
		&__title {
			font-size: 32px !important;
		}

		&__text {
			font-size: 18px ;
			//margin-bottom: 24px;
		}
	}
}

.btn {
	border: 2px solid $accent;
	border-radius: 50px;
	width: fit-content;
	margin-bottom: 16px;

	span {
		color: $accent;
		font-size: 12px;
		font-weight: 500;
		padding: 6px 6px 6px 12px;
	}

	&__icon {
		color: $accent;
		padding-right: 6px;
	}


}

.hero {

	&__nav {
		position: absolute;
		top: 0;
	}


	&__title {
		font-weight: 600;
		font-size: 3rem;
		line-height: 55px;
		margin-bottom: 1rem;
		color: $accent;

		@media (max-width: 768px) {
			font-size: 2rem;
			line-height: 45px;
			margin-bottom: .5rem;
		}

		@media (max-width: 364px) {
			font-size: 1.6rem;
			line-height: 40px;
		}
	}

	&__subtitle {
		font-weight: 600;
		font-size: 2rem;

		@media (max-width: 768px) {
			font-size: 1.5rem;
		}

		@media (max-width: 364px) {
			font-size: 1.25rem;
		}
	}
	&__description {
		max-width: 480px;
		border-radius: 8px;
		color: #f3f3f3;

		p {
			font-size: 1.25rem;

			@media (max-width: 768px) {
				font-size: 1.125rem;
			}

			@media (max-width: 364px) {
				font-size: 1rem;
			}
		}
	}

	&__actions {
		display: flex;
		gap: 1rem;
		margin-top: 1.5rem;

		@media (max-width: 768px) {
			margin-top: 1rem;
		}
	}

	&__btn--catalog {
		@media (max-width: 373px) {
			display: none;
		}
	}

	&__background {
		width: 100%;
		height: 100%;
		object-fit: cover;
		z-index: 0;
		opacity: 0;
		transition: opacity .8s ease-in-out;
		&[loading="lazy"] {
			opacity: 1;
		}
	}
}

.btn {
	border: 2px solid #f1aa34;
	border-radius: 50px;
	width: fit-content;
	margin-bottom: 16px;


	span {
		color: #f1aa34;
		font-size: 12px;
		font-weight: 500;
		padding: 6px 6px 6px 12px;
	}

	&__icon {
		color: #f1aa34;
		padding-right: 6px;
	}


}