@use 'assets/var' as *;

.service--mobile {
	.service__title {
		font-size: 24px;
	}

	.service__text, .service__subtitle {
		font-size: 16px;
	}

	.service__columns {
		grid-template-columns: 1fr;
		gap: 24px;
	}


}

.service {
	margin-top: -64px;


	&__columns {
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: 48px;
	}

	&__img {
		height: 400px;
	}

	&__bonus {
		margin-top: 48px;
	}

	&__review {
		margin-top: 24px;
		text-align: center;
	}

	&__subtitle {
		font-size: 20px;
		font-weight: 700;
	}

	&__slider {
		height: 600px;
		margin: 32px 0;
		@media screen and (max-width: 800px) {
			height: 400px;
		}
	}


	&__content, &__gallery {
		margin-top: 24px;
	}

	&__title {
		font-size: 32px;
		color: $accent;

		&_center {
			text-align: center;
		}

		&_white {
			color: #fff;
		}

		span {
			color: $accent;
		}


	}

	&__text {
		margin-top: 16px;
		margin-bottom: 16px
	}

	&__grid {
		gap: 24px;
		margin-top: 24px;
	}
}

strong {
	color: $accent
}

.banner {
	margin-top: -64px;
	@media screen and (max-width: 760px) {
		&__title {
			font-size: 32px !important;
		}

		&__text {
			font-size: 20px !important;
		}
	}
	&__btn {
		margin-top: 16px;
	}

	&__breadcrump {
		margin-top: 100px;
	}

	&__body {
		height: 100%;
		width: 100%;
		display: flex;
		align-items: center;
	}

	&__title {
		color: $accent;
		font-size: 42px;
		font-weight: 700;
		line-height: 1.2;
		margin-bottom: 16px;
		max-width: 730px;
		//margin-bottom: 8px;
	}

	&__price {
		font-size: 30px;
		font-weight: 700;
		color: $accent;
	}

	&__time {
		font-weight: 700;
		margin-bottom: 16px;
	}

	&__text {
		color: #FFF;
		font-size: 20px;
		font-weight: 400;
		margin-bottom: 8px;
		margin-top: -8px;
		max-width: 600px;
	}

	&__subtitle {
		font-size: 24px;
		font-weight: 600;
		margin-bottom: -8px;
	}

	&__description {
		color: #B4B4B4;
		font-size: 12px;
		font-weight: 400;
		margin-top: 10px;
	}

	&__bottom {
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		display: flex;
		justify-content: center;
	}

	&__arrow {
		svg {
			height: 20px !important;
			width: auto;
		}

		transition: all .2s ease-in;
		margin-bottom: 30px;
	}
}

.btn {
	border: 2px solid $accent;
	border-radius: 50px;
	width: fit-content;
	margin-bottom: 16px;

	span {
		color: $accent;
		font-size: 12px;
		font-weight: 500;
		padding: 6px 6px 6px 12px;
	}

	&__icon {
		color: $accent;
		padding-right: 6px;
	}


}